<h4 style="color:orange">New List</h4>

<%= render 'form', list: @list %>

<hr>
<br>
<div class="space-index">

<%= link_to list_types_path do %>
 <%= fa_icon 'caret-left'%>&nbsp; Back to All lists
 &nbsp;
 <%= fa_icon 'list'%>

<%end%>
</div>
<br>