<%= form_with(model: list_type, local: true) do |form| %>
   <% if list_type.errors.any? %>

      <% list_type.errors.full_messages.each do |error| %>
    <%= alert_generator error%>
      <% end %>

  <% end %>
<br>

  <div class="field">
  <h5>One or two name categories display best.</h5>
  <br>

    <%= form.text_field :category, id: :list_type_category, placeholder: "Category Name", cols: 40, rows: 1, class: 'myclass' %>
  </div>

 <hr>
       <button type="button" class= 'btn btn-success'> 
   <%= form.submit  "Creat Category" , :class =>'btn btn-success'%>
   </button>
<% end %>
<br>
<br>