@import "bootstrap";
@import "gritter";
@import "jquery-ui";
@import "font-awesome";



body {
  background-color: #fff; 
  margin: 33px;
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
  color:grey;
}

p,td {
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #124360;
  
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  font-family: 'Roboto', helvetica, sans-serif;
  color: lightgrey;
  text-decoration: none;
  

  &:hover {
    color: orange;
    text-decoration:none;
  
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

  h1,h2,h3,h4{
    font-family: 'Roboto', helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    text-shadow: 2px 2px 2px lightgrey;
    color: grey;
  }

  ul li {
    font-family: 'Roboto', helvetica, sans-serif;
    font-size: 12px;
    list-style: square;
  }


label {
  display: block;
}

  .nav a{
    color:#659BE7;

  }
.nav a:hover{
  color:lightgrey;
}

  .div5 {

    width: 150px;
    height: auto;
    margin: 5px;
    border: 2px solid grey; 
    font-family: 'Roboto', helvetica, sans-serif;
    padding:8px;
    box-shadow: 2px 3px 8px #888888;
    border-radius: 7px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(#ff7133, #ffbe33);
    color:white;
    font-size: 16px;
    
}

.div5 a{
  color:white;
}

.div5 a:hover{
  color:grey;
}

.div5:hover{
box-shadow: 2px 3px 8px orange;


}


.div6 {
    display:  inline-block;
    width: 280px;
    height: auto;
    margin: 10px;
    border: 2px solid grey; 
    font-family: 'Roboto', helvetica, sans-serif;
    font-size: 11pt;
    padding:0.25em;
    box-shadow: 1px 3px 8px #888888;
    border-radius: 7px;
    text-align: center;
    vertical-align: middle;
    background-color:white;
    color: orange;
  }


.trashcan{
  color:#007AFE;
  font-size: 16pt;
}

.items{
    color:#007AFE;
}

.card-header{
  font-family: 'Roboto', helvetica, sans-serif;
  background-color: orange;
  color:white;
  font-size: 16px;
  width:100%;
  padding:2px;
  height: 25px;
  text-align: center
}

