@import "bootstrap";
@import "gritter";
@import "jquery-ui";
@import "font-awesome";



body {
  background-color: rgb(171, 168, 168); 
  margin: 5px;
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 12px;
  color:white;
}

p,td {
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 11px;
  color:white;
  padding:5px;
   
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  color:white;
  margin: 1em 0;
  padding: 0; 
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  font-family: 'Roboto', helvetica, sans-serif;
  color: lightgrey;
  text-decoration: none;
  

  &:hover {
    color: orange;
    text-decoration:none;
  
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 300px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

  h1,h2,h3,h4{
    font-family: 'Roboto', helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
 
    color: grey;
  }

  ul li {
    font-family: 'Roboto', helvetica, sans-serif;
    font-size: 12px;
    list-style: square;
  }


label {
  display: block;
}

  .nav a{
    color:#659BE7;

  }
.nav a:hover{
  color:lightgrey;
}
.space-index{
  margin:15px;
}

.form-top{
  margin-left:5px;
  display:inline-block;
}
  .div5 {

    width: 90px;
    height: auto;
    margin: 5px;
    border: 2px solid grey; 
    font-family: 'Roboto', helvetica, sans-serif;
    padding:5px;
    box-shadow: 2px 3px 8px #888888;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(#ff7133, #ffbe33);
    color:white;
    font-size: 12px;
    
}

.div5 a{
  color:white;
}

.div5 a:hover{
  color:grey;
}

.btn {
    font-family: Roboto;
    font-size: 8pt

}

.div6 {
    display:  inline-block;
    width: 260px;
    height: auto;
    margin: 10px;
    border: 2px solid grey; 
    font-family: 'Roboto', helvetica, sans-serif;
    font-size: 9pt;
    padding:5px;
    box-shadow: 1px 3px 8px #888888;
    border-radius: 7px;
    text-align: center;
    vertical-align: middle;
    background-color:white;
    color: orange;
  }


  .category_header{
    font-family: 'Roboto', helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size:14pt;
 
    color: orange;

  }

.trashcan{
  color:#007AFE;
  font-size: 16pt;
}

.items{
    color:#007AFE;

}

.card-header{
  font-family: 'Roboto', helvetica, sans-serif;
  background-color: orange;
  color:white;
  font-size: 16px;
  width:100%;
  padding:2px;
  height: 25px;
  text-align: center
}

.input{
  color:pink;
}

@media only screen and (max-width: 420px) {
  body {
      background-color: #2A2A2C;
  }
}